<div class="cs-static-wrapper">
    <div class="cs-static-title cs-service-header">
        <div class="cs-header-clearfix"></div>
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'ORDER.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Vous avez fait preuve de patience et votre bijou est enfin sorti de notre atelier. Nous vous proposons 3 moyens de vous délivrer votre bijou.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'ORDER.FREE-DELIVERY.TITLE' | translate }}
            </div>
            <p>
                On vous l’accorde, ça peut faire peur de recevoir un bijou de valeur par colis. C’est pourquoi nous vous proposons une solution de livraison sécurisée : Colissimo, 1er service de livraison national aux particuliers. Grâce au suivi de colis de Colissimo, vous savez à chaque instant où se trouve votre bijou.
            </p>
            <p>
                Et en cas de pépin pendant l’acheminement du colis, tout est à notre charge. Nous assurons votre colis à hauteur de la valeur du bijou que vous avez commandé. Vous pouvez donc vous détendre en attendant votre colis.
            </p>
            <p>
                À l’arrivée, votre colis vous est remis en mains propres contre signature, pour une réception la plus sécurisée possible. De plus, le colis respecte votre confidentialité et n’affiche aucune mention de la marque ni du produit.
            </p>
            <p>
                La Livraison Garantie est gratuite en France métropolitaine (y compris la Corse et les DOM-TOM) pour tout bijou bee PARIS acheté.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'ORDER.CLICK&COLLECT.TITLE' | translate }}
            </div>
            <p>
                Vous recherchez un bijou et notre site internet vous indique qu’il est en stock dans notre boutique ? Utilisez le mode de retrait Click & Collect.
            </p>
            <p>
                Commandez votre bijou en ligne et récupérez-le sans rendez vous dans notre boutique bee PARIS. Elle est située boulevard Exelmans, à Paris 16e et vous accueille du lundi au jeudi de 11:00 à 20:00.
            </p>
            <p>
                Mais ne repartez pas si vite, vous êtes chez bee PARIS comme chez vous. Pendant que vous sirotez votre rafraîchissement, nous vous offrons un nettoyage de vos bijoux.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'ORDER.WITHDRAWAL.TITLE' | translate }}
            </div>
            <p>
                Commandez votre bijou sur notre site internet en choisissant l’option « Retrait en Boutique » et choisissez votre jour de retrait. Nous gardons votre bijou en toute sécurité dès sa sortie de notre atelier. Dès que vous avez reçu l’e-mail de confirmation, vous pouvez venir le récupérer à la date prévue. C’est l’occasion de découvrir l’univers bee PARIS.
            </p>
        </div>
    </div>
</div>