<div class="cs-static-wrapper">
    <div class="cs-static-title cs-service-header">
        <div class="cs-header-clearfix"></div>
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            <div class="cs-static-title">
                {{ pretrad + 'FREE-RETURN.TITLE' | translate }}
            </div>
        </div>
        <div class="cs-static-content">
            <p>
                Vous venez de recevoir votre bijou et vous n’avez pas eu le coup de foudre ? C’est vrai qu’il est difficile de faire le bon choix du premier coup lorsqu’on achète un bijou, d’autant plus lorsqu’on le commande en ligne. Nous avons pensé à cette situation et c’est pourquoi nous vous proposons le Retour Gratuit. Dès lors, vous avez 30 jours à compter de la date de livraison pour nous le renvoyer. Nous vous le remboursons ou vous échangeons si les conditions de retour sont respectées.
            </p>
        </div>
        <div class="cs-static-title">
            {{ pretrad + 'CONDITIONS.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Pour bénéficier du Retour Gratuit, votre bijou doit :
            </p>
            <ul class="cs-list-circle">
                <li>Être en parfait état</li>
                <li>Ne pas avoir été porté</li>
                <li>Ne pas avoir été mis à taille</li>
                <li>Ne pas avoir de gravure personnalisée</li>
                <li>Avoir été renvoyé dans un délai de 30 jours suivant la livraison</li>
            </ul>
            <p>
                À noter : si votre commande comporte plusieurs bijoux, le Retour Gratuit s’appliquera à un seul bijou.
            </p>
        </div>
        <div class="cs-static-title">
            {{ pretrad + 'HOW.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <div class="cs-static-title">
                {{ pretrad + 'HOW.SHIPPING-COSTS.TITLE' | translate }}
            </div>
            <p>
                Pour le Retour Gratuit, les frais de port sont gratuits pour vous. Nous vous enverrons par e-mail le bordereau de La Poste à coller sur votre colis retour. C’est aussi simple que ça.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'HOW.INSURANCE.TITLE' | translate }}
            </div>
            <p>
                Le colis retour est assuré à notre charge jusqu'à son arrivée chez nous. De votre côté, conservez bien le bordereau tamponné par le service postal.
            </p>
            <p>
                En cas de question, contactez-nous par mail à <b>contact@bee-paris.com</b>
            </p>
        </div>
    </div>
</div>