<div class="cs-static-wrapper">
    <div class="cs-static-title cs-service-header">
        <div class="cs-header-clearfix"></div>
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'LIFE-WARRANTY.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Commandez votre bijou bee PARIS en toute sérénité, grâce à notre Garantie à Vie. Cela veut 
                dire que si le bijou présente un vice caché ou des défauts de conformité, vous pouvez demander 
                sa réparation ou son remplacement à tout moment.
            </p>
            <p>
                Si la réparation ou le remplacement ne sont pas possibles, vous pouvez renvoyer votre bijou et 
                nous vous le remboursons intégralement.
            </p>
            <p>
                Cette Garantie à Vie ne s’applique pas si votre bijou a été remis à taille ou modifié dans un 
                atelier autre que celui de bee PARIS.
            </p>
            <a [routerLink]="['/landing-page/sales-terms']">{{ pretrad + 'LIFE-WARRANTY.ACTIONS.SALES-TERMS' | translate }}</a>
        </div>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'AFTER-SALES.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Oups, vous avez abîmé votre bijou sans faire exprès ! Ça peut arriver à chacun de nous, même si 
                on a parfois du mal à se l’avouer. Notre service après-vente bee PARIS est là pour remettre 
                votre bijou en état. Et vous savez quoi ? Dans la majorité des cas, votre bijou est parfaitement 
                réparable, alors pas d’inquiétude à avoir.
            </p>
            <p>
                Et on ne vous parle pas d’une réparation qui prend des mois et des mois. En quelques jours, les 
                experts de notre atelier EPV (labellisé artisanat français d’excellence) redonne à votre bijou 
                son éclat originel, comme au premier jour. Pour nous, c’est même un plaisir de vous faire revivre 
                cet instant magique où vous l’avez porté pour la première fois. 
            </p>
            <div class="cs-static-title">
                La marche à suivre en 3 étapes
            </div>
            <ul>
                <li>Vous nous renvoyez votre bijou par Colissimo La Poste</li>
                <li>
                    Nous évaluons la valeur de la réparation et vous proposons un devis au prix le plus juste et 
                    en toute transparence
                </li>
                <li>Vous acceptez ou refusez notre devis</li>
                <li>Si vous l’acceptez, nos artisans joailliers effectuent les réparations</li>
                <li>Vous recevez votre bijou réparé et en profitez comme au premier jour</li>
            </ul>
        </div>
    </div>
</div>