

<div class="cs-back-office-order-wrapper">
    ORDER 

    <ng-template ngFor let-product [ngForOf]="order.products" let-i="index">
        <div class="cs-full-width cs-card">
            <p-card>
                <div class="cs-icons">
                    <div class="cs-delivery">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="cs-remove">
                        <button pButton pRipple type="button" (click)="openConfirmDialog()" icon="pi pi-times" class="p-button-sm p-button-rounded"></button>
                    </div>
                </div>
                <div class="cs-product-image-wrapper">
                    <img class="cs-product-image" [src]="urlRest + product.metal.picture.image.url" />
                </div>
                <div class="cs-title">{{ product.label }}</div><div>{{ product.price + product.metal.price }} €</div>
            </p-card>
        </div>
    </ng-template>
   
    <div>
        <div class="cs-full-width">
            <div class="cs-separator"></div>
        </div>
        <div class="cs-left">{{ pretrad + 'BASKET-SUMMARY.TITLE' | translate }}</div>
        <div class="cs-full-width">
            <div class="cs-float-container">
                <div>{{ pretrad + 'BASKET-SUMMARY.SUB-TOTAL' | translate }}</div>
                <div>{{ subTotal }} €</div>
            </div>
        </div>
        <div *ngIf="order.products.length > 0">
            <div class="cs-full-width">
                <div class="cs-separator"></div>
            </div>
            <div class="cs-full-width">
                <div class="cs-float-container">
                    <div>{{ pretrad + 'BASKET-SUMMARY.DELIVERY' | translate }}</div>
                    <div>{{ pretrad + 'BASKET-SUMMARY.FREE' | translate }}</div>
                </div>
            </div>
            <div class="cs-left cs-latest">{{ pretrad + 'BASKET-SUMMARY.LATEST' | translate }}</div>
            <div class="cs-left cs-date">{{deliveryDate | date : ('UTILS.DATE' | translate)}}</div>
        </div>
        <div class="cs-full-width">
            <div class="cs-separator"></div>
        </div>
        <div class="cs-full-width">
            <div class="cs-float-container">
                <div>{{ pretrad + 'BASKET-SUMMARY.TOTAL' | translate }}</div>
                <div>{{ total }} €</div>
            </div>
        </div>
    </div>

</div>