<div class="cs-header-clearfix"></div>
<div class="cs-static-wrapper">
    <div class="cs-static-title">
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-chapo">
        <p>
            Nos artisans interviennent à chaque étape de la fabrication de votre bijou.
            Notre mission reste la même : Vous délivrer le meilleur de la Joaillerie à
            prix juste.
        </p>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'SAVOIR-FAIRE.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
        </div>
        <div class="cs-img-holder">
            <img src="https://via.placeholder.com/600">
        </div>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'GEMMOLOGY.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
        </div>
        <div class="cs-full-width">
            <button pButton pRipple type="button" class="p-button-outlined" icon="fa fa-calendar" (click)="goToContact()" [label]="pretrad + 'ACTIONS.RDV' | translate"></button>
        </div>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'STUDIO.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
        </div>
    </div>
</div>