<div class="cs-header-clearfix"></div>
<div class="cs-being-reason-wrapper cs-static-wrapper">
    <div class="cs-static-title">
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-section">
        <div class="cs-static-content">
            <p>
                Nos artisans interviennent à chaque étape de la
                fabrication de votre bijou. Notre mission reste la
                même : Vous délivrer le meilleur de la Joaillerie à
                prix juste.
            </p>
        </div>
    </div>
    <div class="cs-static-section" id="try">
        <div class="cs-static-title">
            {{ pretrad + 'TRY.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
        </div>
        <div class="cs-img-holder">
            <img src="https://via.placeholder.com/600">
        </div>
    </div>
    <div class="cs-static-section" id="get">
        <div class="cs-static-title">
            {{ pretrad + 'GET.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des
                gemmes et nos métaux précieux ayant un empreinte limité sur la nature.Conscient des
                bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes et nos
                métaux précieux ayant un empreinte limité sur la nature.
            </p>
        </div>
        <div class="cs-img-holder">*
            <img src="https://via.placeholder.com/600">
        </div>
        <div class="cs-full-width">
            <button pButton pRipple type="button" (click)="goToRDV()" [label]="pretrad + 'ACTIONS.RDV' | translate"></button>
        </div>

        <div class="cs-static-content cs-time">
            <!-- RDV -->
            <div class="cs-static-title">
                {{ pretrad + 'TIME.TITLE' | translate }}
            </div>
            <p>
                {{ pretrad + 'TIME.MONDAY-THURSDAY.entry1' | translate }}
                <br>{{ pretrad + 'TIME.MONDAY-THURSDAY.entry2' | translate }}
            </p>
            <p>
                {{ pretrad + 'TIME.FRIDAY.entry1' | translate }}
                <br>{{ pretrad + 'TIME.FRIDAY.entry2' | translate }}
            </p>
            <p>
                {{ pretrad + 'TIME.WEEKEND.entry1' | translate }}
                <br>{{ pretrad + 'TIME.WEEKEND.entry2' | translate }}
            </p>
        </div>
    </div>
</div>