@import 'variables.scss';

.p-tabmenu .p-tabmenu-nav {
    justify-content: center;
    border: none;
    .p-tabmenuitem .p-menuitem-link {
        padding: 0;
        font-weight: 100;
        font-size: 14px;
        border: none;
    }
}

.p-card {
    display: block;
    margin: auto;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: none;
    .p-card-body .p-card-content {
        .p-float-label {
            margin-top: 2.5rem;
            input {
                width: 280px;
            }
        }
        .p-float-label:first-child {
            margin-top: 0.5rem;
        }
        .p-button {
            margin-top: 2.5rem;
        }
    }
}

.p-button {
    font-size: 15px;
    background-color: $cs-button-background;
    color: $cs-second-color;
    display: block;
    border: none;
    width: 280px;
}

.p-button-icon-only {
    margin: 0;
}

.p-float-label {
    font-size: 12px;
    label {
        top: calc(50% + 3px);
    }
}

.p-grid {
    margin: 0;
}