$cs-main-background: #A9E2B5;
$cs-main-color: white;

$cs-button-background: #E1F3E3;
$cs-second-color: black;

$cs-button-wrapper-background: #F8BACF;
$cs-second-background: #FFB6D0;

$cs-ter-background: #2196F3;