<div class="cs-landing-page-main-wrapper">
    <p-carousel [value]="items" [circular]="true" page="3" [numScroll]="1" [numVisible]="1" [autoplayInterval]="4000" id="mainCarousel">
        <ng-template let-item pTemplate="item">
            <div class="cs-carousel-image-wrapper">
                <img class="cs-carousel-image" [src]="item.url" />
            </div>
        </ng-template>
    </p-carousel>
</div>
<div class="cs-being-reason-wrapper" id="beingReason">
    <div class="cs-static-title">
        {{ pretrad + 'JEWELERY.TITLE' | translate }}
    </div>
    <div class="cs-static-content">
        <p>
            À chaque fois que vous craquez pour un bijou d’exception, vous osez à peine regarder le prix car vous savez qu’il sera bien au-dessus de votre budget.
        </p>
        <p>
            Chez bee PARIS, on connaît cette frustration de se sentir exclu·e pour la simple raison qu’on ne fait pas partie du club des millionnaires. Et c’est pour ne plus revivre ce type de situation qu’on a décidé de faire bouger les codes de l’industrie en créant bee PARIS. On estime que la joaillerie d’exception doit être jeune et éthique, comme vous.
        </p>
        <div></div>
    </div>
    <div class="cs-full-width">
        <div class="cs-button-collection-wrapper">
            <div>
                Découvrez en édition limitée les deux pendentifs de notre première collection beezzz et personnalisez-les gratuitement en quelques clics.
            </div>
            <button pButton pRipple type="button" (click)="goToCollection()" [label]="pretrad + 'ACTIONS.COLLECTION' | translate"></button>
        </div>
    </div>
    <div class="cs-static-title">
        {{ pretrad + 'VALUES.TITLE' | translate }}
    </div>
    <div class="cs-static-content">
        <p>
            bee PARIS allie le savoir-faire de la Haute Joaillerie et l’envie de proposer des bijoux éthiques qui vous ressemblent. Chacune de nos créations est le fruit d’un storytelling longuement mûri et d’une confection méticuleuse. Pour vous proposer une joaillerie d’exception qui vous va, nous nous appuyons sur un triptyque de valeurs essentielles à nos yeux.
        </p>
    </div>
    <p-accordion [multiple]="true">
        <p-accordionTab [header]="pretrad + 'TRANSPARENCY.HEADER' | translate">
            <div class="cs-static-title">
                {{ pretrad + 'TRANSPARENCY.RESPECT.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    Chez bee PARIS, nous défendons les valeurs d’une joaillerie éthique qui respecte l’environnement. Nous sommes engagés pour une joaillerie qui respecte les droits des femmes et des hommes qui contribuent à la création de chacun de nos bijoux, depuis l’extraction des gemmes jusqu’à vos mains.
                </p>
                <p>
                    Nous utilisons donc des gemmes et métaux précieux labellisés RJC (Responsible Jewellery Council). Le RJC est une organisation qui s’assure que les chaînes d'approvisionnement de l’industrie de la bijouterie sont responsables, durables et éthiques. En achetant l’une de nos créations bee PARIS, vous améliorez des vies.
                </p>
            </div>
            <div class="cs-static-title">
                {{ pretrad + 'TRANSPARENCY.WARRANTY.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    Nos bijoux sont fabriqués en France et garantis à vie. Un bijou ne répond pas à vos attentes ? Nous vous le remboursons ou vous l’échangeons dans un délai de 30 jours après livraison.
                </p>
            </div>
        </p-accordionTab>
        <p-accordionTab [header]="pretrad + 'ECCENTRICITY.HEADER' | translate">
            <div class="cs-static-title">
                {{ pretrad + 'ECCENTRICITY.PASSION.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    « Je suis déterminé à rendre la joaillerie d'exception jeune et éthique. J’ai grandi dans une famille de bijoutiers qui m’ont transmis cette passion des gemmes. »
                </p>
                <p>
                    Yaniv, fondateur de bee PARIS
                </p>
            </div>
            <div class="cs-static-title">
                {{ pretrad + 'ECCENTRICITY.FASHION.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    « Après des études spécialisées, je suis devenu expert gemmologue pour une maison de Haute Joaillerie. Aujourd’hui, je combine expertise du métier et mon goût pour la mode pour imaginer des collections excentriques. Par exemple, j’ai repris le concept du nid-d’abeilles (point de broderie alvéolaire) pour en faire un code fort de bee PARIS que l'on retrouve notamment sur la bague my beezzz. La mission de bee PARIS, c’est aussi d’apporter ce grain d’excentricité à la joaillerie d’exception. »
                </p>
            </div>
        </p-accordionTab>
        <p-accordionTab [header]="pretrad + 'EXPERTISE.HEADER' | translate">
            <div class="cs-static-title">
                {{ pretrad + 'EXPERTISE.QUALITY.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    Chez bee PARIS, pas de bobards : nous ne vendons pas de diamants synthétiques comme s’il s’agissait de diamants naturels.
                </p>
                <p>
                    Comme toutes les grandes maisons, nos diamants sont de couleur G et de pureté VS. Ils sont gradés Triple Excellent et n’ont pas de fluorescence. Et ce n’est pas un hasard puisque nos diamants et gemmes de couleurs proviennent des mêmes négociants en pierres précieuses.
                </p>
            </div>
            <div class="cs-static-title">
                {{ pretrad + 'EXPERTISE.MANUFACTURE.TITLE' | translate }}
            </div>
            <div class="cs-static-content">
                <p>
                    Nos bijoux sont fabriqués par une équipe d’experts, dans un atelier dédié aux métiers de la Haute Joaillerie. Cet atelier basé en France est membre des Entreprises du Patrimoine Vivant, un label qui récompense l’artisanat français d'excellence.
                </p>
            </div>
        </p-accordionTab>
    </p-accordion>
    <div class="cs-full-width">
        <div class="cs-button-collection-wrapper">
            <div>
                vous craquez pour notre abeille trop mignonne ? 
            </div>
            <button pButton pRipple type="button" (click)="goToCollection()" [label]="pretrad + 'ACTIONS.COLLECTION' | translate"></button>
        </div>
    </div>
</div>