<div class="cs-header-clearfix"></div>
<div class="cs-static-wrapper">
    <div class="cs-static-title">
        {{ pretrad + 'TITLE' | translate }}
    </div>
    <div class="cs-static-chapo">
        <p>
            Nous croyons que la Joaillerie n’est pas réservée qu’à une élite et que le diamant synthétique est cher et polluant.
        </p>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-content">
            <p>
                La Joaillerie, pour nous, c’est fabriquer des bijoux pointus en France de manière responsable. 
                De nombreuses marques fabriquent des bijoux. Mais peu le font bien. La vraie Joaillerie, celle de qualité, créative et qui partage vos valeurs, devrait être accessible à tous ceux qui sont sur le point de préparer leurs demande en mariage ou qui veulent offrir ou s’offrir un cadeau. 
                Car quand vous cherchez le bijou parfait, il doit exister à prix juste. Et c’est notre métier de le fabriquer pour vous.
            </p>
        </div>
        <div class="cs-img-holder">
            <img src="https://via.placeholder.com/600">
        </div>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'JEWELERY.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <p>
                Nous fabriquons en France des bijoux créatifs en métaux précieux et gemmes éthiques.
                Pour cela, notre expertise se base sur la connaissance des gemmes, de la Mode et de la Joaillerie.
            </p>
        </div>
        <div class="cs-img-holder">
            <img src="https://via.placeholder.com/600">
        </div>
    </div>
    <div class="cs-static-section">
        <div class="cs-static-title">
            {{ pretrad + 'VALEURS.TITLE' | translate }}
        </div>
        <div class="cs-static-content">
            <div class="cs-static-title">
                {{ pretrad + 'VALEURS.TITLE1' | translate }}
            </div>
            <p>
                Nous fabriquons en France des bijoux créatifs en métaux précieux et gemmes éthiques. 
                Pour cela, notre expertise se base sur la connaissance des gemmes, de la Mode et de la Joaillerie.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'VALEURS.TITLE2' | translate }}
            </div>
            <p>
                Conscient des bouleversements que l’Humanité traverse, notre Gemmologue sélectionne des gemmes 
                et nos métaux précieux ayant un empreinte limité sur la nature.
            </p>
            <div class="cs-static-title">
                {{ pretrad + 'VALEURS.TITLE3' | translate }}
            </div>
            <p>
                Notre Directeur Artistique interroge la Mode pour que chaque bijoux correspondent à vos aspirations du quotidien.
            </p>

        </div>
        <div class="cs-full-width">
            <button pButton pRipple type="button"  (click)="goToCollection()" [label]="pretrad + 'ACTIONS.COLLECTIONS' | translate"></button>
        </div>
    </div>
</div>